@model FootballClass.Fixture

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Fixture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MatchTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeamGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeamGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayTeamGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayTeamGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompetitionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompetitionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
