@model IEnumerable<FootballClass.Fixture>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MatchTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeamGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeamGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompetitionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatchTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeamGoals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeamGoals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompetitionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
